<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib">
        Answer a few questions to generate your madlib!
        <label>Enter a person's name: </label>
        <input type="text" name="person">
        <label>Enter a color: </label>
        <input type="text" name="color">
        <label>Enter a noun:</label>
        <input type="text" name="noun">
        <label>Enter an adjective: </label>
        <input type="text" name="adjective">
        <label>Enter another noun: </label>
        <input type="text" name="noun_two">
        <label>Enter a monster's name: </label>
        <input type="text" name="monster_name">
        <label>Enter a number: </label>
        <input type="number" name="number">
        <label>Enter a another number: </label>
        <input type="number" name="number_of_miles">
        
        Select a place:
        <input type="radio" name="place">
        <label>New York City</label>
        <input type="radio" name="place">
        <label>Austin</label>
        <input type="radio" name="place">
        <label>Seattle</label>
        <input type="radio" name="place">
        <label>Denver</label>

        Select all the foods you like to eat:
        <input type="checkbox" name="food">
        <label>Mac & Cheese</label>
        <input type="checkbox" name="food">
        <label>Bratwurst</label>
        <input type="checkbox" name="food">
        <label>Tuna Sandwich</label>
        <input type="checkbox" name="food">
        <label>Cheeseburger</label>
        <input type="checkbox" name="food">
        <label>Durian</label>
        <input type="checkbox" name="food">
        <label>1000 year old cheese</label>
        <input type="submit" name="madlib" value="submit">
        
    </form>
  
</body>
</html>

