<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib">
        Answer a few questions to generate your madlib!
        <input type="text" name="madlib" value="person">
        <label>Enter a person's name: </label>
        <input type="text" name="madlib" value="color">
        <label>Enter a color: </label>
        <input type="text" name="madlib" value="noun">
        <label>Enter a noun:</label>
        <input type="text" name="madlib" value="adjective">
        <label>Enter an adjective: </label>
    </form>

</body>
</html>