<!doctype html>
<html>
<head>
  <title>Madlib</title>
</head>
<body>
    <p>
        There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
        When {{ person }} went to pick it up, it burst into flames in a totally
        {{ adjective }} way.
        {{ person }} ran out screaming like a {{ noun_two }}. They made so much noise
        that they woke up {{ monster_name }}. The {{ monster_name }} chased them for
        {{ number }} days. {{ person }} later woke up {{ number_of_miles }} miles away from
        {{ place }}, and realized they were late for dinner. Mom was making their favorite,
        {% for food in food_list %}
        {{ food }}
        {% endfor %}. Oh no!!
    </p>
</body>
</html>


